@charset "UTF-8";

html {
    overflow-y: scroll;
    /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
    /*Internet Explorerが独自に追加したプロパティ*/
    /*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
    margin: 0px;
    padding: 0px;
}

body {
    background: #d3e9ff;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none;
}

a {
    outline: none;
    color: rgb(0, 44, 126);
    text-decoration: none;
}

img {
    border: 0px;
    vertical-align: bottom;
}

body {
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
}


/* --------------------------------------------------- */

header .drawer-hamburger-icon,
header .drawer-hamburger-icon:after,
header .drawer-hamburger-icon:before {
    background-color: #fff;
    height: 3px;
}

.drawer--right.drawer-open .drawer-hamburger {
    right: 0px;
}

header .drawer-nav {
    background: #d3e9ff;
}

header .drawer-menu-item {
    color: rgba(0, 44, 126, 0.589);
    width: 200px;
    font-size: 16px;
    padding-top: 30px;
}

header button:focus {
    background-color: #80A6C5;
}

footer {
    height: 80px;
}

footer .copyright {
    color: rgba(0, 44, 126, 0.589);
    font-size: 12px;
    padding-top: 30px;
    letter-spacing: 1px;
}

#sec1 {
    background: url(./img/index_pic1.jpg) no-repeat center center;
    background-size: cover;
    max-width: 100%;
    height: auto;
    padding: 50px 15px;
    text-align: left;
}

#sec1 h3 {
    font-size: 26px;
    color: #fff;
    line-height: 35px;
    margin: 20px 0 0px 0;
    font-weight: 400;
    padding-top: 100px;
    padding-left: 2%;
}

#sec1 h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 200;
    padding-left: 2%;
}

#sec2 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contents-item {
    width: calc(100% / 3);
    text-align: center;
    padding-top: 20px;
}


.contents-item img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}


.contents-item p {
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(0, 44, 126);
}

.login {
    width: 100%;
}

.login_container {
    margin: 48px auto 0;
    width: 1000px;
    max-width: 100%;
    text-align: center;
}

.login_title {
    color: rgb(0, 44, 126);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 72px;
}

.login_name {
    color: rgb(0, 44, 126);
    display: flex;
    font-size: 16px;
    width: 100%;
    align-items: center;
    text-align: center;

}

.login_name_title {
    width: 30%;
    padding-bottom: 16px;
}

.input-field_wrapper {
    width: 70%;
    text-align: left;
    margin-bottom: 24px;
}

.input-field {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.8em;
    width: 80%;
}

.input-field:focus {
    border: 1px solid rgba(0, 0, 0, 0.32);
    box-shadow: none;
    outline: none;
}

.input_btn {
    -webkit-appearance: none;
    background: #E1FF57 url(../img/icon-arrow-right.png) no-repeat center right 12px / 17px 16px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    text-align: center;
    border: none;
    color: rgb(0, 44, 126);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 14px 60px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 700;
    transition: all 0.3s ease 0s;
    width: 304px;
    max-width: 100%;
    line-height: 1.6;
}

.contact_submit {
    margin-bottom: 24px;
}

.goback_comment {
    margin-bottom: 24px;
}

.level p {
    text-align: left;
    padding-left: 5%;
    padding-top: 20px;
    color: rgb(0, 44, 126);
    border-bottom: ridge 1px rgb(0, 44, 126);
    margin-right: 30%;
}