@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 1.5px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 以上、Chromeのデベロッパーツール無効化 */



html {
    overflow-y: scroll;
    /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
    /*Internet Explorerが独自に追加したプロパティ*/
    /*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}

input[type="button"] {
    display: inline-block;
    border-radius: 20%;
    /* 角丸       */
    font-size: 10pt;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 5px 5px;
    /* 余白       */
    background: #6666ff;
    /* 背景色     */
    color: #ffffff;
    /* 文字色     */
    line-height: 0.3em;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    box-shadow: 2px 2px 1px #666666;
    /* 影の設定 */
    border: 1px solid #6666ff;
    /* 枠の指定 */
    outline: none;

    margin: 3px;
}

input[type="button"]:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
    color: #6666ff;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}

header {
    background-color: #80A6C5;
    width: 100%;
    position: fixed;
    z-index: 99;
    text-align: center;
}

header h3 {
    color: white;
    font-size: 24px;
    padding-top: 20px;
}


article {
    margin-top: 84px;
}

.back_icon {
    color: #fff;
    position: fixed;
    top: 50px;
    left: 16px;
}

.back_icon a img {
    height: 20px;
    width: 20px;
}

.menu__item {
    background: #d3e9ff;
    color: white;
    cursor: pointer;
    display: block;
    margin-bottom: 1px;
    position: relative;
    border-bottom-color: #22669e;
}

.menu__item__link {
    color: rgb(0, 44, 126);
    display: block;
    padding: 18px;
    font-size: 20px;
    text-decoration: none;
}

.submenu {
    background: #80A6C5;
    display: none;
}

.submenu__item {
    border-bottom: 1px solid #d3e9ff;
    color: white;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 8px;
    font-size: 18px;
}

p {
    padding: 5px;
}

h3.title_exception {
    padding-top: 14px;
    font-size: 24px;
    color: white;
}

p.sub_title {
    padding: 5px;
    color: white;
    font-size: 15px;
}

.logout {
    color: #fff;
    position: fixed;
    top: 30px;
    right: 12px;
    display: flex;
    flex-direction: column;
}

.like {
    color: #fff;
    position: fixed;
    top: 40px;
    right: 16px;
}

#like_icon {
    color: #fff;
}

#logout_icon {
    margin-bottom: 8px;
    color: #fff;
}

.logout a {
    color: #fff;
}

body {
    background-color: #d3e9ff;
}

.login {
    width: 100%;
}

.login_container {
    margin: 48px auto 0;
    width: 1000px;
    max-width: 100%;
    text-align: center;
}

.login_title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 72px;
}

.login_name {
    display: flex;
    font-size: 16px;
    width: 100%;
    align-items: center;
    text-align: center;

}

.login_name_title {
    width: 30%;
    padding-bottom: 16px;
}

.input-field_wrapper {
    width: 70%;
    text-align: left;
    margin-bottom: 24px;
}

.input-field {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.8em;
    width: 80%;
}

.input-field:focus {
    border: 1px solid rgba(0, 0, 0, 0.32);
    box-shadow: none;
    outline: none;
}

.input_btn {
    -webkit-appearance: none;
    background: #E1FF57 url(../img/icon-arrow-right.png) no-repeat center right 12px / 17px 16px;
    box-shadow: 0 3px 6px rgba(#000, 0.16);
    text-align: center;
    border: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 14px 60px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 700;
    transition: all 0.3s ease 0s;
    width: 304px;
    max-width: 100%;
    line-height: 1.6;
}

.contact_submit {
    margin-bottom: 24px;
}

.goback_comment {
    margin-bottom: 24px;
}

.btn-circle {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
    border: none;
    font-size: 28px;
    font-weight: bold;
    margin-right: 16px;
    margin-top: 6px;

}

.btn-circle:hover {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);

}

.btn-circle:focus {
    outline: none;
}

.active {
    background-image: linear-gradient(45deg, #709dff 0%, #2e1fff 100%);
}

.container {
    display: flex;
}

.item3 {
    margin-left: auto;
}

.header_container {
    display: flex;
    height: 76px;
    justify-content: space-around;
}

.title1 {
    order: 2;
}

.title2 {
    order: 3;
}

.title {
    order: 1;
}