{% extends 'scene_base.html' %} {% block content %}

<body>
  <header>
    <h3>Bookmark</h3>
    <p class="user_name">{{user_info[0]}}さん こんにちは</p>
    <div class="logout">
      <a href="/logout">
        <p>logout</p>
        <i id="logout_icon" class="fas fa-sign-out-alt"></i>
      </a>
    </div>
    <ul>
      <li class="left_icon">
        <a class="back-icon" href="/"><img src="/static/img/back1.png" /></a>
      </li>
    </ul>
  </header>

  <article>
    {% for item in html_word_info %}

    <ul class="menu">
      <li class="menu__item">
        <a class="menu__item__link js-menu__item__link" href=""
          >{{item["english"]}}</a
        >
        <ul class="submenu">
          <li class="submenu__item">
            <input id="btn{{item["id"]}}" type="button" value="talk">
            <script>
              var btn = document.getElementById("btn{{item["id"]}}"); // ボタンの取得
              btn.addEventListener("click", () => { // ボタンがクリックされたら
                  const synth = new SpeechSynthesisUtterance(); // 設定を入れるオブジェクト
                  synth.text = "{{item["japanese"]}}"; // 話す内容
                  synth.lang = "ja-JP"; // 言語
                  synth.rate = 0.7; // 速さ
                  synth.pitch = 1.0; // 高さ
                  synth.volume = 1.0; // 音量
                  window.speechSynthesis.speak(synth); // 話す
              });
            </script>
            <p>{{item["japanese"]}}</p>
            <p>{{item["pronunciation"]}}</p>
          </li>
        </ul>
      </li>
    </ul>
    {% endfor %}
  </article>
</body>

{% endblock %}
