<!DOCTYPE HTML>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="keywords" content="サイトをキーワードで説明">
	<meta name="description" content="どんなサイトかを短い文章で説明">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
	<link rel="stylesheet" type="text/css" href="/static/style_index.css">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

	<title>Let's communicate in Japanese</title>

<script type="text/javascript" src="/static/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/static/jquery.fadethis.min.js"></script>
<!-- drawer.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<!-- jquery & iScroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

<script type="text/javascript" src="/static/common.js"></script>

</head>

<body class="drawer drawer--right">

	<header>
		<button type="button" class="drawer-toggle drawer-hamburger">
			<span class="sr-only">toggle navigation</span>
			<span class="drawer-hamburger-icon"></span>
		</button>

		<nav class="drawer-nav" role="navigation">
			<ul class="drawe-menu">
				<li><a class="drawer-menu-item" href="/bookmark">Bookmark</a></li>
				<li><a class="drawer-menu-item" href="/login">Login</a></li>
				<li><a class="drawer-menu-item" href="/register">Register</a></li>

			</ul>
		</nav>
	</header>

	{% block content %}
	{% endblock %}

    <footer>
		<p class="copyright">Copyright &copy; 123456 all rights reserved.</p>
	</footer>

</body>

</html>