{% extends 'index_base.html' %}

{% block content %}

	<header>
		<button type="button" class="drawer-toggle drawer-hamburger">
			<span class="sr-only">toggle navigation</span>
			<span class="drawer-hamburger-icon"></span>
		</button>

		<nav class="drawer-nav" role="navigation">
			<ul class="drawe-menu">
				<li><a class="drawer-menu-item" href="/bookmark">Bookmark</a></li>
				<li><a class="drawer-menu-item" href="/login">Login</a></li>
				<li><a class="drawer-menu-item" href="/register">Register</a></li>

			</ul>
		</nav>
	</header>

	<article>
		<section id="sec1">
            <h3>かんたんツウヤクSENSEI</h3>
			<h2>Let's communicate in Japanese</h2>
        </section>

        <div class="level"><p>▲Basic level▼</p></div>
        
        <section id="sec2">
            <div class="contents-item">
                <a href="/scene_1"><img src="/static/img/greeting1.jpg"></a>
                    <p>Greetings</p>
            </div>

            <div class="contents-item">
                <a href="/scene_2"><img src="/static/img/shopping2.jpg"></a>
                    <p>Shopping</p>
            </div>

            <div class="contents-item">
                <a href="/scene_3"><img src="/static/img/eatingout3.jpg"></a>
                    <p>Eating Out</p>
            </div>

            <div class="contents-item">
                <a href="/scene_4"><img src="/static/img/direction1.jpg"></a>
                    <p>Directions</p>
            </div>

            <div class="contents-item">
                <a href="/scene_5"><img src="/static/img/conversation3.jpg"></a>
                    <p>Basic Conversation</p>
            </div>

            <div class="contents-item">
                <a href="/scene_6"><img src="/static/img/emergency1.jpg"></a>
                    <p>Sick & Emergency</p>
            </div>

            <div class="contents-item">
                <a href="/scene_7"><img src="/static/img/accommodation2.jpg"></a>
                    <p>Accommodation</p>
            </div>

            <div class="contents-item">
                <a href="/scene_8"><img src="/static/img/sightseeing1.jpg"></a>
                    <p>Sightseeing</p>
            </div>

            <div class="contents-item">
                <a href="/scene_9"><img src="/static/img/dating7.jpg"></a>
                    <p>Dating</p>
            </div>

            <div class="contents-item">
                <a href="/scene_10"><img src="/static/img/number5.jpg"></a>
                    <p>Numbers</p>
            </div>

            <div class="contents-item">
                <a href="/scene_11"><img src="/static/img/date11.jpg"></a>
                    <p>Time & Date</p>
            </div>

            <div class="contents-item">
                <a href="/scene_12"><img src="/static/img/places1.jpg"></a>
                    <p>Places</p>
            </div>

            <div class="contents-item">
                <a href="/scene_13"><img src="/static/img/foods4.jpg"></a>
                    <p>Foods & Drinks</p>
            </div>

            <div class="contents-item">
                <a href="/scene_14"><img src="/static/img/fruits1.jpg"></a>
                    <p>Fruits & Vegetables</p>
            </div>

            <div class="contents-item">
                <a href="/scene_15"><img src="/static/img/colors1.jpg"></a>
                    <p>Colors</p>
            </div>
            
        </section>

        <div class="level"><p>▲Intermediate level▼</p></div>

    </article>

{% endblock %}