{% extends 'index_base.html' %}

{% block content %}

	<article>
		<section id="sec1">
			<h3>Let's communicate in Japanese</h3>
        </section>
        
        <section id="sec2">
            <div class="contents-item">
                <a href="/scene_1"><img src="/static/img/greeting1.jpg"></a>
                    <p>Greetings</p>
            </div>

            <div class="contents-item">
                <a href="/scene_2"><img src="/static/img/shopping2.jpg"></a>
                    <p>Shopping</p>
            </div>

            <div class="contents-item">
                <a href="/scene_3"><img src="/static/img/eatingout3.jpg"></a>
                    <p>Eating Out</p>
            </div>

            <div class="contents-item">
                <a href="/scene_4"><img src="/static/img/direction1.jpg"></a>
                    <p>Directions</p>
            </div>

            <div class="contents-item">
                <a href="/scene_5"><img src="/static/img/conversation3.jpg"></a>
                    <p>Basic Conversation</p>
            </div>

            <div class="contents-item">
                <a href="/scene_6"><img src="/static/img/emergency1.jpg"></a>
                    <p>Sick & Emergency</p>
            </div>

            <div class="contents-item">
                <a href="/scene_7"><img src="/static/img/number5.jpg"></a>
                    <p>Numbers</p>
            </div>

            <div class="contents-item">
                <a href="/scene_8"><img src="/static/img/date11.jpg"></a>
                    <p>Time & Date</p>
            </div>

            <div class="contents-item">
                <a href="/scene_9"><img src="/static/img/dating7.jpg"></a>
                    <p>Dating</p>
            </div>

            <div class="contents-item">
                <a href="/scene_10"><img src="/static/img/colors1.jpg"></a>
                    <p>Colors</p>
            </div>

            <div class="contents-item">
                <a href="/scene_11"><img src="/static/img/places1.jpg"></a>
                    <p>Places</p>
            </div>

            <div class="contents-item">
                <a href="/scene_12"><img src="/static/img/foods4.jpg"></a>
                    <p>Foods & Drinks</p>
            </div>
        </section>
    </article>

{% endblock %}