{% extends 'index_base.html' %}

{% block content %}

  <article>
    <section class="login">
      <div class="login_container">
        <div class="login_title">Login</div>
        <div class="login_form">
          <form action="/login" method="post">
            <dl class="login_name">
              <dt class="login_name_title">Name：</dt>
              <dd class="input-field_wrapper">
                <input class="input-field" type="text" name="name" required />
              </dd>
            </dl>
            <dl class="login_name">
              <dt class="login_name_title">Password：</dt>
              <dd class="input-field_wrapper">
                <input
                  class="input-field"
                  type="password"
                  name="password"
                  required
                />
              </dd>
            </dl>
            <div class="contact_submit">
              <input class="input_btn" type="submit" value="Login" />
            </div>
            <a href="/">Back</a>
          </form>
        </div>
      </div>
    </section>
  </article>

{% endblock %}
